<section id="header">
    <div class="header-wrap">
      <div class="menu-section">
        <div class="logo-section">
          <!-- <input type="search">
          <i class="material-icons">search</i> -->
          <img class="desktop-logo" style="height: 17%;" src="assets/img/j-logo.jpg" alt="logo" /> 
         
         </div>
        <div class="heading">
          <form class="nosubmit" style="display: flex;">
            <input class="nosubmit" type="search" placeholder="Search...">
            <i class="material-icons" style="border: 1px solid rgb(0, 174, 255);
            background: rgb(0, 174, 255);
            color: white;">search</i>
          </form>
          
          <h3>Production > Dying > Recipes >  Cow</h3>
        </div>
        <div class="user-section">
            <img class="desktop-logo" style="height: 10%;" src="assets/img/aa-logo.png" alt="logo" />
        </div>
      </div>
    </div>
  </section>