<div class="left-panel">
    <ul class="menu-list">
      <li>
      <i class="material-icons">person</i>Farzan Mirza
      </li>
      <li class="blue_underline">
      <i class="material-icons">notifications</i>Notifications
      </li>
      <div class="sublist">
        <li>
          <i class="material-icons"><span class="blue_">home</span></i>Mirza international added a new car cocuments of Buffcow T1 color Brown Invoice
        </li>
        <li>
          <i class="material-icons"><span class="blue_">home</span></i>Mirza international added a new car cocuments of Buffcow T1 color
        </li>
        <li>
          <i class="material-icons"><span class="blue_">home</span></i>Mirza international added a new car
        </li>
      </div>
  
  <li>
    <i class="material-icons">home</i>Home
  </li>
  <li class="blue_underline">
    <i class="material-icons">settings</i>Productions
  </li>
  <h4 class="blue_">Dying</h4>
  <h4>Finishing</h4>
  <h4>Crusting</h4>
  <li>
    <i class="material-icons">description</i>Reports
  </li>
  <li>
    <i class="material-icons">psychology</i>Planning
  </li>
  <li>
    <i class="material-icons">currency_rupee</i>Finances
  </li>
  <li>
    <i class="material-icons">keyboard_arrow_down</i>See more
  </li>
  <!-- <h1>Productions</h1>
    <h2>Dying</h2>
    <h2>Finishing</h2>
    <h2>Crusting</h2>
    <h1>Reports</h1>
    <h1>Planning</h1>
    <h1>Finances</h1>
    <h1>See More</h1> -->
  </ul>
</div>