<div class="right-panel">
    <!-- <div class="flex-class">
        <div class="first-box">
            <div class="inner-box">
                <h3>Tasks</h3>
            </div>
        </div>
        <div class="second-box">
            <h3>Trends</h3>
        </div>
    </div>
    
    <div class="third-box">
        <h3>Efficiency</h3>
    </div> -->

    <div class="box-wrapper">
        <!-- <div id="box1">
            Box 1
        </div>
 
        <div id="box2">
            Box 2
        </div> -->
 
        <div id="box3">
                <div class="middle-column">
                    <div id="box5">
                        <span class="text-decoration">Tasks</span>
                        <!-- <ul class="list" style="list-style: none; display: flex; margin-top: 100px"><li>Daily</li><li>Daily</li><li>Daily</li></ul> -->
                    </div>
                    <div id="box6" style="height: 160px;
                ">
                        <!-- <span class="text-decoration">Efficiency</span> -->
                    </div>
                    <div id="box7">
                    </div>
                </div>
                <!-- <span class="text-decoration">Tasks</span>
                <div class="middle-column_">
                    <div id="box5">
                        <span class="text-decoration">Trends</span>
                    </div>
                    <div id="box6">
                        <span class="text-decoration">Efficiency</span>
                    </div>
                </div> -->
            <div class="middle-column">
                <div id="box5">
                    <span class="text-decoration">Trends</span>
                </div>
                <div id="box6">
                    <span class="text-decoration">Efficiency</span>
                </div>
                <!-- <div id="box7">
                    Box 7
                </div> -->
            </div>
            <!-- <div id="box8">
                Box 8
            </div> -->
        </div>
    </div>
</div>

